* text=false

/OpenSceneGraph/download.osgvisual.org/3rdParty_VC9sp1_x86_x64_V7.7z filter=lfs diff=lfs merge=lfs -text
/OpenSceneGraph/download.osgvisual.org/3rdParty_VS2012.3_v110_x86_x64_V8b_full.7z filter=lfs diff=lfs merge=lfs -text
/OpenSceneGraph/download.osgvisual.org/3rdParty_VS2013.5_v120_x64_V10_full.7z filter=lfs diff=lfs merge=lfs -text
/OpenSceneGraph/download.osgvisual.org/3rdParty_VS2013_v120_x86_x64_V9_full.7z filter=lfs diff=lfs merge=lfs -text
/OpenSceneGraph/download.osgvisual.org/3rdParty_VS2017_v141_x64_V11_full.7z filter=lfs diff=lfs merge=lfs -text
/OpenSceneGraph/hts-cache/new.zip filter=lfs diff=lfs merge=lfs -text
